Repository 2020-1-Eulivro/Wiki, pull requests merged in 2020-03, with the labels that each got.

#17 5W2H
  docs/_sidebar.md
  docs/pre_traceability.md
  docs/pre_traceability/5W2H.md
Labels: documentação, pré-rastreabilidade

#18 Brainstorming
  docs/_sidebar.md
  docs/assets/MapaMentalIdeia.png
  docs/policies.md
  docs/requirements.md
  docs/requirements/elicitation.md
  docs/requirements/elicitation/brainstorming.md
  docs/requirements/elicitation/img/mapa_mental_contras.png
  docs/requirements/elicitation/img/mapa_mental_escopo.jpg
  docs/requirements/elicitation/img/mapa_mental_ideia.png
Labels: documentação, elicitação de requisitos

#15 Pauta da Reunião 1 (16/03)
  docs/_sidebar.md
  docs/meetings.md
  docs/meetings/meeting1.md
  docs/policies/pull_requests.md
Labels: documentação

#20 Adição dos Requisitos elicitados com Brainstorming
  docs/requirements.md
  docs/requirements/elicitation/brainstorming.md
  docs/requirements/list_elicited.md
Labels: documentação, elicitação de requisitos
